<div class="columns is-flex is-justify-content-space-between">
    <div class="field column is-half">
        <div class="mb-1">
            <label for="requests_filter">Search</label>
        </div>
        <p class="control has-icons-left">
            <input
                class="input"
                type="text"
                name="requests_filter"
                value="{{ requests_filter }}"
                placeholder="Search for requests, views, sql or headers..."
                hx-get="/__requests_tracker__/"
                hx-trigger="keyup changed delay:50ms, search"
                hx-target="#request-list-search-results"
                hx-include="[name='requests_sorter'], [name='requests_direction']"
                hx-push-url="true"
            />
            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>
        </p>
    </div>
    <div class="column is-2">
        <div class="control">
            <div class="mb-1">
                <label for="requests_sorter">Order by</label>
            </div>
            <div class="is-flex">
                <div class="select is-fullwidth">
                    <select
                        required
                        class="is-fullwidth sort-by-select"
                        name="requests_sorter"
                        hx-get="/__requests_tracker__/"
                        hx-target="#request-list-search-results"
                        hx-include="[name='requests_filter'], [name='requests_direction']"
                        hx-push-url="true"
                    >
                        <option {% if requests_sorter == "time" %}selected{%  endif %} value="time">Time</option>
                        <option {% if requests_sorter == "duration" %}selected{%  endif %} value="duration">Duration</option>
                        <option {% if requests_sorter == "name" %}selected{%  endif %} value="name">Name</option>
                        <option {% if requests_sorter == "view" %}selected{%  endif %} value="view">Django View</option>
                        <option {% if requests_sorter == "query_count" %}selected{%  endif %} value="query_count">Query count</option>
                        <option {% if requests_sorter == "similar_query_count" %}selected{%  endif %} value="similar_query_count">Similar query count</option>
                        <option {% if requests_sorter == "duplicate_query_count" %}selected{%  endif %} value="duplicate_query_count">Duplicate query count</option>
                    </select>
                </div>
                <div class="icon ml-2 sort-direction-icon has-fg-color is-clickable">
                    <input type="hidden" name="requests_direction" value="{{ requests_direction }}">
                    <i
                        class="
                            fas
                            fa-lg
                            {% if requests_direction == "ascending" %}
                                fa-sort-up
                            {% elif requests_direction == "descending" %}
                                fa-sort-down
                            {% else %}
                                fa-sort
                            {% endif %}
                        "
                        id="requests-sort-direction-icon"
                        hx-get="/__requests_tracker__/"
                        hx-target="#request-list-search-results"
                        hx-vals='
                        {
                        "requests_direction":
                        {% if requests_direction == "ascending" %}
                            "descending"
                        {% else %}
                            "ascending"
                        {% endif %}
                        }
                        '
                        hx-include="[name='requests_filter'], [name='requests_sorter'], [name='requests_direction']"
                        hx-push-url="true"
                    >
                    </i>

                </div>
            </div>
        </div>
    </div>
    <div class="column refresh-interval-control">
        <div class="mb-1">
            <label for="refresh_button">Auto refresh</label>
        </div>
        <div class="control has-icons-left is-fullwidth">
            <div
                class="select is-fullwidth"
                hx-get="/__requests_tracker__/?requests_direction={{ requests_direction }}"
                hx-trigger="
                    every 1s [document.getElementById('refresh-interval-select').value == '1s'],
                    every 3s [document.getElementById('refresh-interval-select').value == '3s'],
                    every 5s [document.getElementById('refresh-interval-select').value == '5s']
                    every 10s [document.getElementById('refresh-interval-select').value == '10s']
                    every 30s [document.getElementById('refresh-interval-select').value == '30s']
                    every 60s [document.getElementById('refresh-interval-select').value == '60s']
                "
                hx-include="[name='requests_filter'], [name='requests_sorter'], [name='requests_direction']"
                hx-target="#request-list-search-results"
                hx-sync="[name='requests_filter']:abort, [name='requests_sorter']:abort, [name='requests_direction']:abort"
            >
                <select id="refresh-interval-select" class="is-fullwidth">
                    <option selected>Off</option>
                    <option value="1s">1s</option>
                    <option value="3s">3s</option>
                    <option value="5s">5s</option>
                    <option value="10s">10s</option>
                    <option value="30s">30s</option>
                    <option value="60s">1m</option>
                </select>
            </div>
            <div class="icon is-small is-left">
                <i class="fa-solid fa-arrows-rotate"></i>
            </div>
        </div>
    </div>
    <div class="column field">
        <div class="mb-1">
            <p>Refresh</p>
        </div>
        <button
            class="button is-fullwidth"
            hx-get="/__requests_tracker__/"
            hx-target="#request-list-search-results"
            hx-include="[name='requests_filter'], [name='requests_sorter'], [name='requests_direction']"
            hx-indicator="#refresh-loading-indicator, #refresh-button-content"
        >
            <span id="refresh-button-content">
                <span class="icon">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </span>
                <span>Refresh</span>
            </span>
            <span class="loading-indicator" id="refresh-loading-indicator">
                <i class="fa-solid fa-circle-notch"></i>
            </span>
        </button>
    </div>
    <div class="column">
        <div class="mb-1">
            <p>Clear</p>
        </div>
        <button
            class="button is-fullwidth"
            hx-delete="/__requests_tracker__/delete"
            hx-target="#request-list-search-results"
            hx-push-url="/__requests_tracker__/"
            hx-indicator="#clear-loading-indicator, #clear-button-content"
        >
            <span id="clear-button-content">
                <span class="icon">
                    <i class="fa-solid fa-delete-left"></i>
                </span>
                <span>Clear</span>
            </span>
            <span class="loading-indicator" id="clear-loading-indicator">
                <i class="fa-solid fa-circle-notch"></i>
            </span>
        </button>
    </div>
</div>
<div id="request-list-search-results">
    {% include "partials/request_list_only_partial.html" %}
</div>
