{% load style_tags format_tags %}
{% if sql_collector.queries %}
    <div class="mt-2">
        <table class="table is-fullwidth database-query-table">
            <thead>
                <tr>
                    <th>QUERY</th>
                    <th>TIMELINE</th>
                    <th>TIME (ms)</th>
                </tr>
            </thead>
            <tbody>
                {% for query_info in sql_collector.queries %}
                    <tr>
                        <td>
                            <div class="my-2">
                                <article class="message">
                                    <div
                                        class="message-body database-query-body database-query-body__collapsed  is-flex is-justify-content-space-between"
                                        style="border-color: {% contrast_color_from_number sql_collector.databases|dict_key_index:query_info.alias %}"
                                        _="
                                            on click
                                            toggle between .database-query-body__collapsed and .database-query-body__expanded
                                            end
                                            on click
                                            toggle .database-query-body__sql__hidden on .database-query-body__sql__{{ forloop.counter0 }}
                                            end
                                            on click
                                            wait 200ms then toggle .database-query-body__sql__collapsed-section-show on #database-query-body__sql__{{ forloop.counter0 }}__collapsed
                                            end"
                                    >
                                        <div>
                                            <div
                                                id="database-query-body__sql__{{ forloop.counter0 }}__collapsed"
                                                class="database-query-body__sql
                                                    database-query-body__sql__{{ forloop.counter0 }}
                                                    database-query-body__sql__collapsed-section
                                                    database-query-body__sql__collapsed-section-show
                                                "
                                            >
                                                {% autoescape off %}
                                                    {% simplify_sql query_info.raw_sql|safe  %}
                                                {% endautoescape %}
                                            </div>
                                            <div
                                                class="database-query-body__sql
                                                    database-query-body__sql__{{ forloop.counter0 }}
                                                    database-query-body__sql__hidden
                                                    database-query-body__sql__expand-section"
                                            >
                                                {% autoescape off %}
                                                    {% format_sql query_info.raw_sql|safe %}
                                                {% endautoescape %}
                                                {% if query_info.stacktrace %}
                                                    <h4 class="title is-4 mt-6"> Stacktrace</h4>
                                                    <table class="table is-fullwidth stacktrace-table">
                                                        <thead>
                                                            <tr class="is-size-7">
                                                                <th>File</th>
                                                                <th>Line number</th>
                                                                <th>Function</th>
                                                                <th>Source line</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for trace in query_info.stacktrace %}
                                                                <tr class="is-family-monospace is-size-7">
                                                                    <td>{{ trace.0|simplify_path }}</td>
                                                                    <td>{{ trace.1 }}</td>
                                                                    <td>{{ trace.2 }}</td>
                                                                    <td>{{ trace.3 }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                            {% with similar_count=query_info.similar_count %}
                                                {% with duplicate_count=query_info.duplicate_count %}
                                                    {% if similar_count %}
                                                        <div class="tag is-warning is-extra-small mt-3">{{ similar_count }} similar</div>
                                                    {% endif %}
                                                    {% if duplicate_count %}
                                                        <div class="tag is-danger mt-3 is-extra-small">{{ duplicate_count }} duplicate{{duplicate_count|pluralize }}</div>
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-angle-down has-fg-color ml-4 is-clickable"></i>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </td>
                        <td>
                            <div class="my-2 database-query-timeline-bar">
                                <div
                                    class="database-query-timeline-bar__value-bar"
                                    style="{% timeline_bar_styles sql_collector.queries sql_collector.sql_time forloop.counter0 %}">
                                </div>
                            </div>
                            {% if query_info.is_slow %}
                                <span class="icon-text mt-2">
                                    <span class="icon mr-2">
                                        <i class="fa-solid fa-2x fa-triangle-exclamation has-text-warning"></i>
                                    </span>
                                    <span>Slow query</span>
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="my-2">
                                {{ query_info.duration|floatformat:"2" }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div>No SQL queries were recorded during this request.</div>
{% endif %}
