<div class="columns">
    <div class="field column is-three-quarters">
        <p class="control has-icons-left">
            <input
                class="input"
                type="text"
                name="requests_filter"
                value="{{ current_search }}"
                placeholder="Search for request..."
                hx-get="/__requests_tracker__/"
                hx-trigger="keyup changed delay:50ms, search"
                hx-target="#request-list-search-results"
                hx-push-url="true"
            />
            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>
        </p>
    </div>
    <div class="column">
        <div class="control has-icons-left">
            <div class="select is-fullwidth">
                <select required class="is-fullwidth sort-by-select">
                    <option selected value="">Sort by...</option>
                    <option>With options</option>
                </select>
            </div>
            <span class="icon is-small is-left">
                <i class="fas fa-sort"></i>
            </span>
        </div>
    </div>
</div>
<div id="request-list-search-results">
    {% include "partials/request_list_only_partial.html" %}
</div>
