{% include "partials/loading_indicator_partial.html" %}
<div class="request-list" id="request-list">
    {% for request_id, request in requests.items  %}
        {% include "partials/request_list_item.html" with request_id=request_id request=request%}
    {% endfor %}
</div>

{# NOTE: This part is not part of the rendered template but is used for htmx oob swap#}
<input type="hidden" name="requests_direction" value="{{ requests_direction }}">
<i
    class="
        fas
        fa-lg
        {% if requests_direction == "ascending" %}
            fa-sort-up
        {% elif requests_direction == "descending" %}
            fa-sort-down
        {% else %}
            fa-sort
        {% endif %}
    "
    id="requests-sort-direction-icon"
    hx-get="/__requests_tracker__/"
    hx-target="#request-list-search-results"
    hx-vals='
    {
    "requests_direction":
    {% if requests_direction == "ascending" %}
        "descending"
    {% else %}
        "ascending"
    {% endif %}
    }
    '
    hx-include="[name='requests_filter'], [name='requests_sorter']"
    hx-push-url="true"
    hx-swap-oob="true"
>
</i>
